.table-default {
  @apply divide-y divide-gray-200 dark:divide-gray-700 min-w-full table-auto;

  thead {
    > tr {
      > th {
        @apply px-6 py-3 font-semibold text-gray-500 dark:text-gray-100 text-xs text-left rtl:text-right tracking-wider;
      }
    }
  }

  tbody {
    @apply divide-y divide-gray-200 dark:divide-gray-700;

    > tr {
      > td {
        @apply px-6 py-4;
      }
    }
  }

  tfoot {
    > tr {
      > td {
        @apply px-6 py-3 border-gray-200 dark:border-gray-700 border-t;
      }
    }
  }

  &.borderless-row {
    tbody {
      @apply divide-none;
    }
  }
}

.table-flex {
  @apply divide-y divide-gray-200 dark:divide-gray-700 min-w-full;

  .thead {
    @apply bg-gray-50 dark:bg-gray-700;

    .tr {
      .th {
        @apply px-6 py-3 font-semibold text-gray-500 dark:text-gray-100 text-xs text-left uppercase tracking-wider;
      }
    }
  }

  .tbody {
    @apply divide-y divide-gray-200 dark:divide-gray-700;

    .tr {
      .td {
        @apply px-6 py-4;
      }
    }
  }

  .tfoot {
    .tr {
      .td {
        @apply px-6 py-3 dark:border-gray-700 border-t;
      }
    }
  }
}

.table-virtual {
  > div {
    @apply divide-y divide-gray-200 dark:divide-gray-700;
  }
}

.table-compact {
  thead {
    > tr {
      > th {
        @apply px-3 py-2 text-xs;
      }
    }
  }

  tbody {
    > tr {
      > td {
        @apply px-3 py-2;
      }
    }
  }

  .thead {
    > .tr {
      > .th {
        @apply px-3 py-2 text-xs;
      }
    }
  }

  .tbody {
    > .tr {
      > .td {
        @apply px-3 py-2;
      }
    }
  }
}

.table-hover {
  > tbody {
    > tr:hover {
      > * {
        @apply bg-gray-100/50 dark:bg-gray-700/40;
      }
    }
  }

  > .tbody {
    > .tr:hover {
      > * {
        @apply bg-gray-100/50 dark:bg-gray-700/40;
      }
    }
  }
}

.table-resizer {
  @apply top-0 right-0 z-10 absolute border-gray-200 dark:border-gray-600 border-r-2 w-2 h-full;
  touch-action: none;

  &.resizing {
  }
}

th,
td {
  word-wrap: break-word;
}
