@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --body-bg-rgb: 10, 21, 26;
    --primary: #67ceff;
    --border: #4d4d4d;
  }
}

body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  background-color: #0a151a;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.75px;
  color: #ffffff;
}
