@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --body-bg-rgb: 10, 21, 26;
    --primary: #67ceff;
    --border: #4d4d4d;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-[#0a151a] font-medium text-white text-sm antialiased tracking-[0.75px];
    font-family: "Noto Sans", sans-serif;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

*:focus,
*:focus-visible {
  outline: none !important;
}
