@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --body-bg-rgb: 10, 21, 26;
    --primary: #67ceff;
    --border: #4d4d4d;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply text-sm font-medium text-white bg-[#0a151a] antialiased tracking-[0.75px];
    font-family: "Noto Sans", sans-serif;
  }
}
