@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --body-bg-rgb: 30, 45, 55;
    --background: #1e2d37;
    --primary: #67ceff;
    --border: #6d6d6d;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-[#0a151a] font-medium text-white text-sm antialiased tracking-[0.75px];
    font-family: "Noto Sans", sans-serif;
  }
}

@layer utilities {
  .scrollbar-custom {
    @apply [&::-webkit-scrollbar-thumb]:bg-white/20
           [&::-webkit-scrollbar-thumb]:hover:bg-white/30
           [&::-webkit-scrollbar-track]:bg-transparent
           [&::-webkit-scrollbar]:w-1
           [&::-webkit-scrollbar]:h-1
           [&::-webkit-scrollbar-thumb]:rounded-full;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

*:focus,
*:focus-visible {
  outline: none !important;
}
