.side-nav {
  @apply print:hidden z-20 flex-col flex-shrink-0 flex-auto transition-all duration-200 ease-in-out;
}

.side-nav-expand {
  @apply top-0 sticky h-screen;
}

.side-nav-content {
  height: calc(100vh - 128px);
  @apply overflow-y-auto;
}

.side-nav-light {
  @apply bg-white border-gray-200 border-r;
}

.side-nav-dark {
  @apply bg-gray-800 border-gray-600 border-r;
}

.side-nav-transparent {
  @apply bg-transparent;
}
